body {
  margin: 0px;
}

.gradientbg_1 {
  width: 100vw;
  height: 93.9vh;
  background: linear-gradient(#333DAD, #00CCE5);
}

.gradientbg_2 {
  width: 100vw;
  height: 130vh;
  background: linear-gradient(#333DAD, #00CCE5);
}

.gradientbg_3 {
  width: 100vw;
  height: 250vh;
  background: linear-gradient(#333DAD, #00CCE5);
}

.custom_textfield {
  width: 30vw;
  height: 20vh; 
}

.custom_textfield_1 {
  width: 85vw;
  height: 30vh; 
}